
:root {
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}


body{
	background-color:var(--light-gray);
	font-size: 15px;
	font-family:Outfit;
	color:var(--grayish-blue);
	font-weight:400;
	display: grid;
	place-items: center;
	min-height: 100vh;
	
}
main{

	
	display: grid;
	place-items: center;
	min-height: 100vh;
	
}

#main{
	width: 290px;
	height: 490px;
	border-radius: 20px;
	background-color: white;
	padding: 15px;
	text-align: center;
}



h1{
	color:var(--dark-blue);
	font-size: 23px;
	font-weight: 700;
}

main img{
	width:290px;
	height:290px;
	border-radius:10px;
	
}

.text{
	width: 260px;
	margin:auto;
}
